.module-group{

}

.module{

}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.tilt_link {
    position: absolute;
    display: block;
    bottom: 50px;
    left: 50%;
    margin-left: -170px;
}
