$base-font-size: 16;
$thin-breakpoint: 480px;
$narrow-breakpoint: 768px;
$medium-breakpoint: 1023px;
$wide-breakpoint: 1224px;

@function em($px, $context: $base-font-size) {
	@return #{$px/$context}em;
}

@mixin font-size($sizeValue: $base-font-size) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue/$base-font-size) + rem;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.spacer-div{
	height: 1px;
	width: 100%;
	clear: both;
}

.text-center{
    text-align: center;
}

.centre-vertical{
    display:table-cell;
    vertical-align:middle;
}

.centre-vertical-modern{
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
}
